.auth-layout {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;

  .ant-layout-content {
    display: flex;
    align-items: center;
  }

  .auth-container {
    width: 100%;
    max-width: 1128px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    justify-content: center;

    .auth-wrapper{
      background: ghostwhite;
      box-shadow: 5px 7px #eeeeee;
      border-radius: 5px;
      padding-top: 20px;
    }
  }

  .header-auth {
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
  }
  .sub-title{
    display: flex;
    margin-left: 30px;
  }

  .auth-form {
    min-width: 384px;
    margin: 0 auto;
  }
  .login-form-forgot {
    float: right;
  }
  
}
