.ant-layout-content {
  .users-container {
    display: flex;
    align-items: center;
    height: 100%;

    .users-content {
      font-size: 24px;
      margin: 0 auto;

      img{
        height: 128px;
        width: 128px;
    }
    }
  }
}
