
.ant-layout-header{

    .trigger{
      padding: 10px;
      font-size: 16px;
    }
  }

.logo{
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    font-weight: bolder;
    color: #fff;
    font-size: 18px;
    text-align: center;
}